/* 폰트 설정 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  /* Pretendard SemiBold for 600 */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* CSS 변수 설정 */
:root {
  /* --main-font-color: #363636;
  --main-font-color2: #636363;
  --main-gray-1: #eee;
  --main-blue1: rgba(78, 137, 245); */
  --Colors-Neutral-1000: #1A1F1F;
  --bg: #FAF9F6;
  --Colors-Primary-600: #567C53;
  --black: #121212;
  --Colors-blue-0: #DCF2FE;
  --Colors-Neutral-700: #5A6868;
  --Colors-Neutral-200: #D0D5D5;
  --Colors-Secondary-400: #90906E;
  --Colors-Neutral-800: #445050;
}

/* CSS 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 요소를 display:block으로 설정 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 기본 스타일 설정 */
body {
  width: 100%;
  line-height: 1;
  font-family: 'Pretendard', sans-serif;
  color: var(--Colors-Neutral-1000);
  font-size: 14px;
  word-break: keep-all;
  font-weight: 400;
  background: var(--bg, #faf9f6);

}

/* 박스 모델 설정 및 워드 브레이크 */
*,
*::before,
*::after {
  box-sizing: border-box;
  word-break: keep-all;
}

/* HTML 요소 설정 */
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  /* 기본 폰트 크기 설정 */
}

/* 리스트 스타일 제거 */
ol,
ul,
li {
  list-style: none;
}

/* 인용구 스타일 초기화 */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

/* 테이블 테두리 간격 제거 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 링크 스타일 초기화 */
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

/* 이미지 및 미디어 요소 */
img,
iframe,
video,
svg,
canvas {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* 버튼 스타일 초기화 */
button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

/* 입력 요소 스타일 초기화 */
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
}

/* 추가 스타일 */
textarea {
  resize: none;
}

fieldset {
  border: none;
}

iframe {
  border: none;
}

.hidden {
  position: fixed;
  left: -10000px;
}

.swiper {
  overflow: visible;
}